.row.collapse
  .small-2.large-3.columns
    span.prefix Network
  .small-10.large-9.columns
    span.prefix = truncated(phone.network)

  .small-2.large-3.columns
    span.prefix Batter
  .small-10.large-9.columns
    span.prefix = truncated(phone.battery)

  .small-2.large-3.columns
    span.prefix Platform
  .small-10.large-9.columns
    span.prefix = truncated(phone.platform)

  .small-2.large-3.columns
    span.prefix Tests
  .small-10.large-9.columns
    span.prefix = truncated(phone.tests)
