.row
  .medium-6.columns
    h4 = title("Select by maker")

    = select_tag :makers, options_for_select(makers), prompt: "Select maker..."
    section#models_list
    section#description

  .medium-6.columns
    h4 = title("Search by model")

    = text_field_tag "query"
    section#search_results
